if product.quantity_left == null || product.quantity_left > 0 || state === "manage"
  .col-md-6.col-lg-4.card.text-center.product(data-id=product.id, data-order-id=product.orderId)
    h3.card-title
      a(href='/products/details/' + product.id)= product.title
    h4 $#{product.current_price}
    if product.quantity_left
      h4 In stock: #{product.quantity_left}
      h4 Sold: #{product.quantity - product.quantity_left}
    .card-description #{product.description}
    if state === "manage"
      button.deleteProdBtn.btn.btn-danger.mx-auto(data-id=product.id) Delete
    if state === "cart"
      button.deleteFromCart.btn.btn-danger.mx-auto(data-id=product.id, data-order-id=product.orderId) Delete
