if product.quantity_left == null || product.quantity_left > 0 || state === "manage"
  div(id=`productCard${product.id}` class=`product`)
    h1
      a(href='/products/'+product.id)= product.title
    h4= product.current_price
      if product.quantity_left
        =' ('+product.quantity_left+' left)'
    p= product.description
    if state === "manage"
      button(id=`${product.id}` class=`deleteProdBtn`) delete