extends layout
block content
  h1 Update Your Information
  form(action="/settings/edit" method="POST")
    input(type="text" name="first_name" value=first_name)
    input(type="text" name="last_name" value=last_name)
    input(type="text" name="street_address" value=street_address)
    input(type="text" name="city" value=city)
    input(type="text" name="postal_code" value=postal_code)
    input(type="text" name="phone_number" value=phone_number)

    button(type="submit" text="Submit") Submit