extends layout
block content
  h1 Update Your Information
  form(action="/settings/edit" method="POST")
    input(type="text" name="first_name" value=first_name)
    input(type="text" name="last_name" value=last_name)
    input(type="text" name="street_address" value=street_address placeholder="Street Address")
    input(type="text" name="city" value=city placeholder="City")
    input(type="text" name="state" value=state placeholder="State")
    input(type="text" name="postal_code" value=postal_code placeholder="Postal Code")
    input(type="text" name="phone_number" value=phone_number placeholder="Phone Number")

    button(type="submit" text="Submit") Submit